<!DOCTYPE>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <link href="/theme/assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/theme/assets/css/style.css" rel="stylesheet">

        <script type="text/javascript" src="/theme/assets/lib/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/theme/assets/lib/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div id="wrapper">
            {% block header %}
            {% endblock %}

            {% block navbar %}
            {% endblock %}

            <div class="container"> 
                <div class="row">
                    {% block sitebar %}
                    {% endblock %}
                
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <div class="container" id="footer">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p></p>
                        <p class="text-center"> &copy; Kvida 2017г.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>