{% extends "index.html" %}

{% block title %}
KVidaCMS
{% endblock %}

{% block header %}
{{ include('viewHeader.html') }}
{% endblock %}

{% block navbar %}
{{ include('viewMenu.html') }}
{% endblock %}

{% block sitebar %}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    {{ sideBarCategories | raw }}
</div>
{% endblock %}

{% block content %}
<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>{{ contentProducts.name }} {{ contentVariant.name }}</h1>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img src="/uploads/{{ contentProducts.image }}" height="30%">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 products_price">
                    {% if contentVariant.price is not empty %}
                        <div>Цена: {{ contentVariant.price }}</div>
                    {% else %}
                        {% if contentVariant.sale_price is not empty %}
                            <div>Цена: {{ contentVariant.sale_price }}</div>
                        {% else %}
                            <div>Цена уточняется</div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    Артикул: #{{ contentVariant.sku }}
                </div>                
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <!-- {% if contentVariant.stock is not empty %}
                    <h5>Колличесво: {{ contentVariant.stock }}</h5>
                {% else %}
                    <h5>Колличесво уточняется</h5>
                {% endif %} -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                {% for contentImg in contentImgs %}
                    <img src="/uploads/{{ contentImg.filename }}" height="10%">
                {% endfor %}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                    {% if contentVariant.stock is not empty %}
                        <div class="title">Описание товара:</div>
                        <div class="content">{{ contentProducts.description | raw }}</div>
                    {% else %}
                        <div class="content">Описание уточняется</div>
                    {% endif %}
                
            </div> 
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                <label>Выберете колличество: </label>
                <select id="selectManyPurchases_js" type='number' name='amount'> 
                    {% for i in 1..contentVariant.stock %}
                        * {{ i }}
                        <option value='{{ i }}'>{{ i }}</option>
                    {% endfor %}
                </select>

            <button id="manyPurchases_js" class="btn btn-success oneBuy_js" data-productId="{{ contentProducts.id }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span style="margin-left: 5px;">Купить</span></button>

            <form method="post">
                <input type="hidden" name="wish_product_id" value="{{contentProducts.id}}">
            </form>
        </div>
    </div>   
</div>
<script type="text/javascript">
    $(function(){
        $('#manyPurchases_js').click(function(e){
            $.ajax({
                method : 'POST',
                url : '/core/ajax.php',
                dataType : 'json',
                data : {
                    id : $(e.currentTarget).attr('data-productId'),
                    amount : $('#selectManyPurchases_js').val(),
                }, 
                success : function(dataName) {
                    $('.productCart').text(calculateProductsCount());
                }
            });
        });
    });
</script>
{% endblock %}